@charset"utf-8";

 html{font-size:100%}/*16px*/
        body {font-family: 'Nanum Gothic', sans-serif; font-size:14px;}
        h1, h2, h3, h4{font-weight:100;}
        .eng{font-family: 'Montserrat', sans-serif;}
        .row{width:100%;}
        

        /*section banner*/
        .section{}
        .section img{width:100%;}
        .content{width:100%;}
        /*
            .banner구조에서 포지션을 사용해야하는데 이때 .banner의 높이를 유지시키려면
            .banner 안쪽에 있는 이미지에는 포지션을 적용하면 안됨.
            이미지의 높이로 인해 부모의 포지션 높이를 만들어줄 수 있음
        */
        .banner{position:relative; background-color:#000;}
        .ban-caption {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            width: 100%;
            text-align: center;
        }
        .banner img{
            opacity:0.4;
            filter:alpha(opacity=40);
        }
        .ban-caption h3{
            font-size:1.5rem;
            color:#ff9c00;
            font-style:italic;
            margin-bottom:3rem;
        }
        .ban-caption .title-bg{
            background-color:rgba(0,0,0,0.5);
            width:40%;
            margin:auto;
            text-align:center;
            padding:2rem 0;
        }
        .ban-caption .title-bg h1{font-size:2.5rem; color:#fff;}
        .pro-list-info{overflow:hidden;}
        .pro-list-info li{
            width:33.33333333333333%;
            float:left;
            background-color:#000;
            position:relative;
            cursor:pointer;
            overflow:hidden;/*이미지 확대 시 li밖으로 나가지 못하도록 마스크*/
        }
        .pro-list-info li img {/*애니메이션 만들어준 부분의 과정값*/
                opacity: 0.4;
                filter: alpha(opacity=40);
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }
         .pro-list-info li:hover img {
                -webkit-transform: scale(1.3);
                -moz-transform: scale(1.3);
                -o-transform: scale(1.3);
                transform: scale(1.3);
            }
         .pro-list-info li:hover .pro-btn{
            background-color:#fff;
            color:#333;
        }
            .pro-list-info .list-txt {
                /*좌표를 설정해서 컨텐츠 중앙으로 배치하는 구조를 만듦*/
                position: absolute;
                width: 100%;
                top: 50%;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                text-align:center;
            }
        .pro-list-info .list-txt h3{color:#ff9c00; font-size:1.5rem; margin-bottom:2rem;}
        .pro-list-info .list-txt .pro-btn{
            border:1px solid #fff;
            text-align:center;
            color:#fff;
            width:40%;
            padding:0.5rem 0;
            margin:auto;
        }
        
        .pro-guide{
            background-color:#111111;
            padding:6rem 0;
            text-align:center;
        }
        .pro-guide h3{color:#fff;font-size:1.5rem; margin-bottom:1.5rem;}
        .pro-guide > h4{color:#fff; font-size:1.25rem;margin-bottom:4rem;}
        .pro-list-guide{width:70%; margin:auto; overflow:hidden;}
        .pro-list-guide li{
            width:24.25%;
            float:left;
            margin-right:1%;
            position:relative;
            cursor:pointer;
            background-color:#000;
        }
        .pro-list-guide li:last-child{margin-right:0;}
        .pro-list-guide li img{
            opacity:0.5;
            filter:alpha(opacity=50);
        }
            .pro-list-guide li h4 {
                position: absolute;
                top: 50%;
                width:100%;/*left:50% 대신 사용, 줄어들어도 개행하지 않음 */
                text-align:center;
                -webkit-transform: translateY(-50%);
                -moz-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                transform: translateY(-50%);
                color:#fff;
                font-size:1.25rem;
                z-index:1;
            }
            .pro-list-guide li .guide-hover {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #000;
                z-index: 11;
                opacity: 0;
                filter: alpha(opacity=0);
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }
        .guide-hover .guide-table{display:table; width:100%; height:100%;}
        .guide-table .guide-cell{display:table-cell; vertical-align:middle;}
        .guide-cell p{color:#999; line-height:23px;}
        .guide-cell p span{display:block;}

        .pro-list-guide li:hover .guide-hover {
            opacity: 1;
            filter: alpha(opacity=100);
        }

        .information{background-color:#efefef; padding:6rem 0;text-align:center;}
        .information h3{font-size:1.5rem;color:#666; margin-bottom:1.5rem;}
        .information > h4{font-size:1.25rem;margin-bottom:4rem;color:#666;}
        .info-list{width:70%; margin:auto;overflow:hidden;}
        .info-list li{
            width:32%;
            margin-right:2%;
            margin-bottom:2%;
            float:left;
            background-color:#000;
            cursor:pointer;
            overflow:hidden;
        }
        .info-list li:nth-child(3), .info-list li:last-child{margin-right:0;}
            .info-list li img {
                opacity: 0.2;
                filter: alpha(opacity=20);
                -webkit-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
            }
            .info-list li a:hover img {
                opacity: 0.5;
                filter: alpha(opacity=50);
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -o-transform: scale(1.2);
                transform: scale(1.2);
            }
            .info-list li a{position:relative; color:#fff;}
        .imfo-pos{
            position:absolute;
            top:0;
            left:0;
            width:100%;
            height:100%;
        }
        .imfo-pos .info-table{display:table; width:100%; height:100%;text-align:center;}
        .imfo-pos .info-table .info-cell{display:table-cell; vertical-align:middle;}
        .info-table .info-cell h4{font-size:1.25rem;margin-bottom:1rem;}
        .info-table .info-cell p{font-size:1rem; line-height:1.375rem;}
        .info-table .info-cell p span{display:block;}

        .data-info{padding:6rem 0 3rem; width:70%; margin:auto;}
        .data-list{position:relative;}
        .data-list:before{
            content:"";
            display:block;
            padding-top:31.25%;/*오른쪽 요가이미지 기준 높이가 300px(300/960)*100 */     
        }
        .data-left, .data-pic{position:absolute; top:0; height:100%;}
        .data-left{width:60%;border:1px solid #ccc;}
        .data-pic {
            width: 38%;
            left: 62%;
            background-image:url("../images/h.jpg");
            background-repeat:no-repeat;
            background-size:cover;
        }
        .data-left .data-table{width:96%; margin:auto; height:100%;display:table;}
        .data-table .data-inner{display:table-cell; vertical-align:middle;}
        .data-inner h3{font-size:1.5rem; padding:2% 0;}
        .data-inner .pic-txt{overflow:hidden;}
        .pic-txt .pic{float:left; width:45%;}
        .pic-txt .txt{float:right; width:53%;}
        .pic-txt .txt h4{font-size:1.2rem; color:#666; margin-bottom:1rem;}
        .pic-txt .txt p{font-size:1rem; color:#999;line-height:1.25rem;}


        .contact{width:70%; margin:0 auto 3rem;}
        .contact-list{position:relative;}
        .contact-list:before{
            content:"";
            display:block;
            padding-top:27%;
        }
        .contact-list p{color:#999;}
        .contact-list > li{
            position:absolute;
            top:0;
            height:100%;
            width:33.33333333333333%;
        }
        .contact-list > li:nth-child(2){left:33.33333333333333%;}
        .contact-list > li:nth-child(3){left:66.66666666666667%;}
        .list-table{width:100%; height:100%; display:table;}
        .list-inner{display:table-cell; vertical-align:middle;}
        .center{width:70%; margin:auto;}
        .list-inner .title{font-size:1.25rem; color:#666; margin-bottom:1.25rem;}
        /*공지사항*/
        .contact-list > li:first-child h4{text-align:center;}
        .contact-list > li:first-child hr{margin-bottom:1.25rem;}
        .notice{width:100%; overflow:hidden;}
        .notice li{
            float:left;
            color:#999;
            padding:0.5rem 0;
        }
        .notice li.not-left{width:60%; float:left;}
        .notice li.not-day{width:40%; float:right;text-align:right;}
        /*고객센터*/
        .list-inner .sub-title{line-height:1.25rem;}
        .list-inner .sub-title span{display:block;}
        .list-inner .num{color:#333; font-size:2rem; padding:3.4rem 0;}
        .list-inner a{
            width:100%;
            text-align:center;
            color:#333;
            background-color:#ffc000;
            padding:1rem 0;
            border-radius:50px;
        }
        .list-inner a:hover{background-color:#000; color:#ffc000;}
        /*폼*/
        .contact-list > li:last-child{background-color:#111111;}
        .list-center{width:80%;margin:auto;}
        .list-center p{margin-bottom:3rem;}
        .form{width:100%;}
        input[type=text], button{
            border:0;
            outline:none;
            box-sizing:border-box;
            width:100%;
            padding:0.8125rem 1.25rem;
        }
        input[type=text]{margin-bottom:0.5rem;}
        button{background-color:#ffc000; color:#fff;cursor:pointer;}

        .pro-navi{background-color:#e6e6e6; padding:3rem 0;}
        .pro-navi-list{width:70%; margin:auto;overflow:hidden;}
        .pro-navi-list ul{width:23.5%;margin-right:2%; float:left;text-align:center;}
        .pro-navi-list .community{margin-right:0;}
        .pro-navi-list ul .title{border-bottom:1px solid #ccc; padding:1rem 0;}
        .pro-navi-list ul .title h4{font-size:1.25rem;color:#666;}
        .pro-navi-list ul li a{color:#999; padding:0.8rem 0;}
        .pro-navi-list ul li a:hover{background-color:#999; color:#fff; padding-left:0.8rem;}

        
        /*media style*/
        @media screen and (max-width:1440px){
            .center{width:80%;}
            .contact-list > li:first-child{width:35%;}
            .contact-list > li:nth-child(2){width:35%; left:35%;}
            .contact-list > li:nth-child(3){width:35%; left:70%;}
        .notice li{padding:0.25rem 0;}
        /*고객센터*/
        .list-inner .num{padding:2rem 0;} 
        /*폼*/
        .list-center p{margin-bottom:2rem;}
        input[type=text], button{padding:0.625rem 1rem;}
        input[type=text]{margin-bottom:0.3125rem;}
        .contact-list:before{padding-top:35%;}
        }
        @media screen and (max-width:1280px) {
            html{font-size:93.8%;}/*15px*/

           .ban-caption h3{font-size:1.5rem; margin-bottom:3rem; }
           .ban-caption .title-bg{width:40%;padding:2rem 0;}
           .ban-caption .title-bg h1{font-size:2rem;}
           .guide-cell p{font-size:0.8rem;}
           .info-table .info-cell p{font-size:0.8rem;}
           .pic-txt .txt p{display:none;}

           .foot-content .bot-logo{width:12%; float:none;margin-bottom:1rem;}
           .foot-content .foot-admin{width:auto; float:none;}
        }
        @media screen and (max-width:960px){
            html{font-size:87.5%;}/*14px*/
           .ban-caption h3{font-size:1.2rem; margin-bottom:2rem; }
           .ban-caption .title-bg{width:45%;padding:2rem 0;}
           .ban-caption .title-bg h1{font-size:1.8rem;}
           .pro-list-info .list-txt h3{font-size:1.5rem; margin-bottom:1.5rem;}
           .pro-list-info .list-txt .pro-btn{width:40%;padding:0.5rem 0;}
           .pro-guide{padding:6rem 0;}
           .pro-guide h3{font-size:1.5rem; margin-bottom:1.5rem;}
           .pro-guide > h4{font-size:1.25rem;margin-bottom:4rem;}
           .pro-list-guide{width:80%;}
           .pro-list-guide li{width:49.5%;margin-bottom:1%;}
           .pro-list-guide li:nth-child(2){margin-right:0;}
           .pro-list-guide li:nth-child(3){margin-bottom:2%;}
           .pro-list-guide li:nth-child(2), .pro-list-guide li:last-child{margin-right:0;}
           .guide-cell p{font-size:1rem;}
           .info-list{width:80%;}
           .info-list li{width:49%;}
           .info-list li:nth-child(2), .info-list li:nth-child(4){margin-right:0;}
           .info-list li:nth-child(3){margin-right:2%;}
           .data-info{width:80%;}

           .contact{width:80%;}
           .contact-list:before{padding-top:70%;}
           .contact-list > li:first-child{width:60%;height:50%;}
           .contact-list > li:first-child h4{text-align:left;}
           .contact-list > li:nth-child(2){height:50%; width:38%; left:62%; }
           .contact-list > li:nth-child(3){height:50%; width:100%; left:0; top:50%;}

           
            }
        @media screen and (max-width:768px) {
            html {font-size: 81.3%;}
            /*13px*/
           
            .ban-caption h3 {font-size: 1.2rem;margin-bottom: 2rem;}
            .ban-caption h3 span {display: block;padding: 0.5rem 0;}
            .ban-caption .title-bg {display: none;}
            .info-list li:nth-child(2), .info-list li:nth-child(4) {margin-right: 0;}
            .info-list li:nth-child(3) {margin-right: 2%;}
            .pro-list-info .list-txt h3 {font-size: 1.5rem;margin-bottom: 1.5rem;}
            .pro-list-info .list-txt .pro-btn {width: 20%;padding: 0.5rem 0;}
            .pro-list-info li {width: 100%;float: none;}

            .data-list:before{padding-top:45%;}
            .data-pic {display:none;}
            .data-left {width:100%;border:1px solid #ccc;}
            .pic-txt .pic {float: left;width: 45%;}

            .contact-list{position:static;}
            .contact-list:before{padding-top:0;}
            .contact-list > li{position:static;}
            .contact-list > li:first-child{width:100%; margin-bottom:3rem;}
            .notice li{padding:0.5rem 0;}
            .contact-list > li:first-child h4{text-align:left;}
            .contact-list > li:nth-child(2){width:100%; margin-bottom:3rem;}
            .center{width:100%;}
            .list-inner .sub-title span{display:inline;}
            .contact-list > li:nth-child(3){}
            .list-center{width:95%; padding:1.5rem 0;}

            .pro-navi{display:none;}
           
        }
        @media screen and (max-width:480px){
            html{font-size:75%;}/*12px*/
           .pro-list-guide{width:90%;}
           .pro-list-guide li{width:100%;margin-right:0%; float:none;}
           .pro-list-guide li:nth-child(2){margin-right:0;}
           .pro-list-guide li:nth-child(3){margin-bottom:1%;}
           .info-list{width:90%;}
           .info-list li{width:100%;float:none; margin-right:0;}
           .info-list li a{position:static;}
           .imfo-pos{position:relative;}
           imfo-pos, .info-table{display:block; width:100%;height:auto;text-align:center;position:absolute; bottom:0;}
           imfo-pos, .info-table, .info-cell{display:block;}
           .info-table .info-cell h4{margin-bottom:0; width:100%; background-color:#000; padding:1rem 0;}
           .info-table .info-cell p{display:none;}

           .data-list:before{padding-top:0%;}
           .data-left{position:static;}
           .data-list{position:static;}
           .data-info{width:90%;}
           .pic-txt .pic{float:none; width:100%; margin-bottom:4%;}
           .pic-txt .txt{float:none; width:100%;}
           .data-inner h3{padding:4% 0;}
           .pic-txt .txt p{margin-bottom:4%;}
           .pic-txt .txt p span{display:block;}

           .contact{width:90%;}
           }