/*페이지 초기화*/
body, div, h1, ul, li, p, address {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e2e2e2;
    font-family: 'Century Gothic';
    font-size: 12px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}
/*페이지 공통영역 부분*/
.container {
    width: 1000px;
    margin: 0 auto;
    padding: 10px;
    background-color: #fff;
}

.row {
    width: inherit;
}


/*header*/
.header {
    overflow: hidden;
    margin-bottom: 30px;
}

    .header h1 {
        color: #333;
        float: left;
        margin-left: 20px;
    }

    .header .nav {
        width: auto;
        float: right;
    }

.nav li {
    float: left;
}

    .nav li a {
        color: #333;
        font-size: 16px;
        display: block;
        text-transform: uppercase;
        padding: 8px 20px;
    }
        .nav li a:hover {
            background-color: #333;
            color: #fff;
        }
        /*banner*/
        .banner {
            background-color: #333;
            text-align: center;
            font-size: 30px;
            text-transform: uppercase;
            padding: 70px 0;
            margin-bottom: 30px;
        }
/*section*/
.section {
    overflow: hidden;
    margin-bottom: 30px;
}

.aside, .article {
}

.aside {
    width: 140px;
    float: left;
}

    .aside li.title {
        background-color: #333;
        text-align: center;
        color: #ccc;
        font-size: 16px;
        padding: 7px 0;
        border-bottom: 0;
    }

    .aside li {
        border-bottom: 1px dashed #ccc;
        text-align: center;
    }

        .aside li a {
            color: #333;
            padding: 7px 0;
            display: block;
        }

        .aside li:nth-child(5), .aside li:last-child {
            border-bottom: 0;
        }

.article {
    width: 830px;
    float: right;
}

    .article li {
        float: left;
        width: 270px;
        margin-bottom: 30px;
        padding-bottom: 10px;
    }

        .article li.center {
            margin-left: 10px;
            margin-right: 10px;
        }

        .article li.bot {
            margin-bottom: 0;
        }

        .article li .block {
            width: inherit;
            background-color: #ccc;
            padding: 80px 0;
            margin-bottom: 10px;
        }

        .article li p {
            margin-bottom: 20px;
            margin-left: 5px;
        }

        .article li .btn {
            background-color: #333;
            color: #ccc;
            padding: 6px 20px;
            border-radius: 50px;
            margin-left: 5px;
        }
/*footer*/
.footer {
    background-color: #333;
    overflow: hidden;
    padding: 30px 0;
}

.bot-logo, ul, .bot-info {
    float: left;
}

.footer .bot-logo {
    width: 220px;
}

    .footer .bot-logo h1 {
        margin-left: 20px;
        color: #fff;
    }

.footer ul {
    width: 190px;
}

    .footer ul li a {
        color: #000;
        padding: 7px 0;
        display: block;
    }

.footer .bot-info {
    width: 400px;
}

    .footer .bot-info p {
        padding: 7px 20px 10px 0;
        text-align: justify;
    }
