.p1 {
    color: #808080;
    font-size: 12px;
}

.p2 {
    color: #666;
    font-size: 12px;
}

.span1 {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}

.span2 {
    color: #ff0000;
    font-size: 14px;
    text-decoration: underline;
}
