@charset"utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|Open+Sans');
/*
            한글:font-family: 'Nanum Gothic', sans-serif;
            타이틀:font-family: 'Nanum Pen Script', cursive;
            영문:font-family: 'Open Sans', sans-serif;
        */

body, div, ul, li, address, img, h3,h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: 'Nanum Gothic', sans-serif;
    letter-spacing: 1px;
}

.eng {
    font-family: 'Open Sans', sans-serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
}

img {
    display: block;
    border: 0;
}

.row {
    width: 100%;
}

/*header style*/
.header {
}

.gnb, .top {
    width: 1010px;
    margin: 0 auto;
}

.gnb {
    text-align: right;
    padding: 10px 0;
}

    .gnb li {
        display: inline-block;
        color: #ccc;
    }

        .gnb li a {
            color: #808080;
            font-size: 12px;
            padding: 0 7px;
            text-transform: uppercase;
        }

.main-top {
    width: 100%;
    border-bottom: 4px solid #74b616;
    background-color: #e0e0e0;
    padding-top: 7px;
}

.top {
    overflow: hidden;
}

.logo {
    float: left;
}

.nav {
    width: auto;
    float: right;
    height: 40px;
}

    .nav li {
        float: left;
        height: inherit;
        line-height: 40px;
    }

        .nav li:first-child {
            border-radius: 7px 7px 0 0;
            background-color: #74b616;
        }

            .nav li:first-child a {
                color: #fff;
            }

        .nav li a {
            font-size: 16px;
            color: #333;
            padding: 0 2px 0px;
        }
/*section style*/
.section {
    /*   ======------중요함--------==========
                background #ccc;(배경이미지 없이 단독으로 적용할 때는 상관 없음)
                =background-color

                background-image는 background-color와 같다.
                이미지가 크거나 작거나 사이즈 상관없이 무조건 해상도 전체를 태워준다.
                background-repeat:repeat;(무조건 반복, 패턴)
                background-repeat:no-repeat;(하나만 노출)
                background-repeat:repeat-x;(수평축으로 반복)
                background-repeat:repeat-y;(수직축으로 반복)

                배경이미지를 해상도에 상관없이 가득 채우는 방법
                -background-size:cover;
                배경이미지를 내가 원하는 부분에 위치하고 싶을때
                background-position:center;
                background-position:50px 100px;

                backgroud 이미지는 기본 속성이 화면 스크롤에 영향을 받는다
                배경 이미지가 화며넹 있어도 스크롤이 움직이면 같이 배경이미지 움직인다.

                background-attachment:fixed;(배경스크롤 고정시킬때, pC에서만 사용 가능, 모바일 대응으로 활용되는 방법이 
                스타일 방식은 동일하나 포지션을 이용하는 방식으로 스타일을 적용해준다.)
                backgroun- attachment:scroll;
            */
    background-image: url("../images/mainbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 40px;
}

.main-title, .main-ui {
    width: 1000px;
    margin: 0 auto 100px;
}

.main-ui {
    overflow: hidden;
}

    .main-ui li {
        width: 250px;
        height: 250px;
        float: left;
    }

        .main-ui li.ui-bg {
            background-color: #81bb29;
        }

.table {
    display: table;
    width: inherit;
    height: inherit;
}
    /*테이블 방식 외우기*/
    .table .inner {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
        /*테이블 방식 외우기*/
        .table .inner h3 {
            font-style: italic;
            margin-bottom: 10px;
        }

        .table .inner p {
            color: #333;
            margin-bottom: 20px;
        }

        .table .inner img {
            display: inline;
        }
/*
            현재 구조에서 이미지를 수평의 중앙으로 옮기는 방법 4가지
            1. 이미지가 블럭이기 때문에 margin:0 auto;
            2. 이미지 속성을 display:inline으로 변경
            3. 이미지 속성을 display:inline-block으로 변경
            4. 수평의 여백을 활용한 방법으로 이 방법은 현재 아이콘으로 들어간 이미지 넓이가
            같다는 전제 하에 사용할 수 있음(부모넓이-아이콘 넓이)/2=margin-left:값;
        */
/*
            이미지 넓이를 box형 구조에 맞추는 방법
            1.이미지 넓이를 유지한 태로 박스에 반응형으로 넣기
            - max-width:100%;
            2.박스의 넓이에 상관없이 이미지를 가득 채우기
            - width:100%;
        */
.main-ui li.ui-img img {
    width: 100%;
}
/*footer style*/
.footer {
    background-color: #fff;
}

.foot-nav {
    text-align: center;
    padding: 15px 0;
}

    .foot-nav li {
        display: inline-block;
        color: #ccc;
    }

        .foot-nav li a {
            color: #999;
            padding: 0 20px;
        }

.foot-admin {
    background-color: #e0e0e0;
    padding: 25px 0;
}

    .foot-admin .admin {
        overflow: hidden;
        width: 1000px;
        margin: 0 auto;
    }

.bot-logo, .ad-info {
    float: left;
}

.bot-logo {
    width: 290px;
}

.ad-info {
    width: 710px;
}

    .ad-info p, .ad-info address {
        color: #999;
    }

    .ad-info p {
        margin-bottom: 15px;
    }
